@use '../../abstracts';

.overview {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    .overview-image-frame {
        width: 580px;
        height: auto;
        flex: 0 0 50%;
    }
    .overview-image {
        width: 100%;
    }
    .overview-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .overview-main-heading {
        font-family: PoppinsBold;
        font-size: 16px;
        line-height: 180%;
        color: abstracts.$secondary-color;
        text-transform: capitalize;
    }
    .overview-sub-heading {
        font-family: PoppinsBold;
        font-size: 27.65px;
        line-height: 120%;
        color: abstracts.$title-color;
        text-transform: uppercase;
    }
    .overview-description {
        font-family: PoppinsLight;
        font-size: 16px;
        line-height: 180%;
        color: abstracts.$title-color;
    }
    .overview-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .overview-item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 6px;
    }
    .overview-item-number {
        font-family: PoppinsBold;
        font-size: 27.65px;
        line-height: 120%;
        color: abstracts.$secondary-color;
    }
    .overview-item-description {
        font-family: PoppinsLight;
        font-size: 16px;
        line-height: 180%;
        color: abstracts.$title-color;
    }
}

@media (max-width: 991.98px) {
    .overview {
        flex-direction: column;
        .overview-info {
            order: 1;
        }
        .overview-image-frame {
            order: 2;
            align-self: center;
        }
    }
}

@media (max-width: 767.98px) {
    .overview {
        .overview-image-frame {
            width: 100%;
        }
    }
}
