.footer {
    background-color: var(--secondary-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

/* Info */
.footer .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.footer .info-column-heading,
.footer .info-column-description,
.footer .info-column-link,
.footer .info-column-contact {
    color: var(--white-color);
}

.footer .info-column-heading {
    text-transform: capitalize;
}

.footer .footer-logo-frame {
    width: 280px;
    height: 212px;
}

.footer .footer-logo {
    width: 100%;
    height: auto;
}

.footer .info-column-heading.large {
    font-family: PoppinsExtraLight;
    font-size: 33.18px;
    line-height: 120%;
    margin-bottom: 10px;
}

.footer .info-column-heading.small {
    font-family: PoppinsBold;
    font-size: 19.2px;
    line-height: 180%;
    margin-bottom: 16px;
}

.footer .info-column-description,
.footer .info-column-link,
.footer .info-column-contact {
    font-family: PoppinsExtraLight;
    font-size: 16px;
    max-width: 80%;
}

.footer .info-column-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .info-column-link {
    text-transform: capitalize;
}

.footer .info-column-link:hover {
    text-decoration: underline;
}

.footer .dropdown {
    display: none;
}

/* Author */
.footer .author-name {
    font-family: PoppinsBold;
    font-size: 19.2px;
    line-height: 180%;
    text-transform: capitalize;
    color: var(--white-color);
    margin-bottom: 6px;
}

.footer .author-social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .author-social-item {
    width: 24px;
    height: 24px;
}

.footer .author-social-item.instagram {
    background: url('../../assets/images/icons/social_sprites.png') -10 -10;
}

.footer .author-social-item.facebook {
    background: url('../../assets/images/icons/social_sprites.png') -54 -10;
}

.footer .author-social-item.twitter {
    background: url('../../assets/images/icons/social_sprites.png') -98 -10;
}

.footer .author-social-item.basketball {
    background: url('../../assets/images/icons/social_sprites.png') -142 -10;
}

.footer .author-social-item.github {
    background: url('../../assets/images/icons/social_sprites.png') -186 -10;
}

@media (max-width: 991.98px) {
    .footer .info {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .info-column:first-child {
        order: 4;
    }
}
@media (max-width: 767.98px) {
    .footer .info {
        gap: 24px;
    }

    .footer .footer-logo-frame {
        width: 240px;
    }

    .footer .info-column-list.toggle {
        display: flex;
    }

    .footer .info-column-heading.large {
        font-size: 26px;
    }

    .footer .info-column-contact,
    .footer .info-column-link {
        font-size: 14px;
    }
}
@media (max-width: 575.98px) {
    .footer .info {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .info-column-list.toggle {
        display: none;
    }
    .footer .info-column {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .footer .info-column:first-child {
        order: unset;
        align-items: center;
    }
    .footer .info-column-heading.small {
        margin-bottom: unset;
    }
    .footer .dropdown {
        display: block;
        position: absolute;
        right: 0;
    }
}
