@font-face {
    font-family: 'RalewayExtraBold';
    src: url('../assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsThin';
    src: url('../assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsExtraLight';
    src: url('../assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsLight';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsSemibold';
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsBold';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-display: swap;
}
