.main-header {
    height: 862px;
    background: url('../../../assets/images/sand.png') top / cover no-repeat;
}

.main-header .main-header-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 64px;
}

.main-header .main-header-info {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.main-header .main-header-heading {
    font-family: MontserratBold;
    color: var(--white-color);
    font-size: 47px;
}

.main-header .main-header-advertisement-heading {
    margin-bottom: 10px;
    font-family: PoppinsSemiBold;
    font-size: 24px;
    color: var(--white-color);
    text-transform: uppercase;
}

.main-header .main-header-advertisement-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main-header .main-header-advertisement-item {
    display: flex;
    width: 180px;
    height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--white-color);
    border-radius: 12px;
}

.main-header .main-header-advertisement-img {
    width: 100%;
}

.main-header .main-header-advertisement-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.main-header .main-header-advertisement-people {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-header .main-header-advertisement-name {
    font-family: PoppinsMedium;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: 0.24px;
    color: #023f76;
}

.main-header .main-header-advertisement-people-number {
    font-family: PoppinsLight;
    font-size: 12px;
    line-height: 124.5%;
    color: #023f76;
    letter-spacing: -0.24px;
}

.main-header .menu-mobile {
    display: none;
}

@media (max-width: 991.98px) {
    .main-header {
        height: 760px;
    }

    .main-header .main-header-info {
        max-width: unset;
    }

    .main-header .main-header-content {
        gap: 32px;
    }

    .main-header .main-header-advertisement-item {
        width: 140px;
    }
    .main-header .menu-mobile {
        display: block;
    }
}
@media (max-width: 575.98px) {
    .main-header {
        height: 980px;
    }
    .main-header .main-header-heading {
        font-size: 36px;
    }
    .main-header .main-header-advertisement-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .main-header .main-header-advertisement-item {
        flex-direction: row;
        width: 100%;
    }
    .main-header .main-header-advertisement-img {
        width: 120px;
        height: 120px;
    }
}
