.testimonials {
    .testimonials-heading {
        text-align: center;
        margin-bottom: 48px;
    }
    .testimonials-main-heading {
        font-family: PoppinsBold;
        font-size: 16px;
        line-height: 180%;
        text-transform: capitalize;
        color: var(--secondary-color);
    }
    .testimonials-sub-heading {
        font-family: PoppinsBold;
        font-size: 27.65px;
        line-height: 120%;
        color: var(--title-color);
        &::first-letter {
            text-transform: capitalize;
        }
    }
    .testimonials-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 12px;
        row-gap: 24px;
    }
    .testimonials-item {
        padding: 10px;
    }
    .testimonials-item.active {
        background-color: var(--primary-color);
        .testimonials-name {
            color: var(--white-color);
        }
        .testimonials-description {
            color: var(--white-color);
        }
    }
    .testimonials-person {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .testimonials-name {
        font-family: PoppinsBold;
        font-size: 23.04px;
        line-height: 120%;
        color: var(--title-color);
        text-transform: capitalize;
        margin-left: 10px;
    }
    .testimonials-description {
        font-family: PoppinsLight;
        font-size: 16px;
        line-height: 180%;
        color: var(--title-color);
    }
}
@media (max-width: 767.98px) {
    .testimonials {
        .testimonials-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 575.98px) {
    .testimonials {
        .testimonials-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
