.testimonials .testimonials-heading {
    text-align: center;
    margin-bottom: 48px;
}

.testimonials .testimonials-main-heading {
    font-family: PoppinsBold;
    font-size: 16px;
    line-height: 180%;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.testimonials .testimonials-sub-heading {
    font-family: PoppinsBold;
    font-size: 27.65px;
    line-height: 120%;
    color: var(--title-color);
}

.testimonials .testimonials-sub-heading::first-letter {
    text-transform: capitalize;
}

.testimonials .testimonials-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
    row-gap: 24px;
}

.testimonials .testimonials-item {
    padding: 10px;
}

.testimonials .testimonials-item.active {
    background-color: var(--primary-color);
}

.testimonials .testimonials-item.active .testimonials-name,
.testimonials .testimonials-item.active .testimonials-description {
    color: var(--white-color);
}

.testimonials .testimonials-person {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.testimonials .testimonials-name {
    font-family: PoppinsBold;
    font-size: 23.04px;
    line-height: 120%;
    color: var(--title-color);
    text-transform: capitalize;
    margin-left: 10px;
}

.testimonials .testimonials-description {
    font-family: PoppinsLight;
    font-size: 16px;
    line-height: 180%;
    color: var(--title-color);
}
