$primary-color: #43b97f;
$secondary-color: #295943;
$title-color: #3d3e48;
$white-color: #fff;
$menu-mobile-color: #397b5c;
$home-banner-color: #ecab6c;

$grid-breakpoints: (
    xl: 1399.98px,
    lg: 1199.98px,
    md: 991.98px,
    sm: 767.98px,
    xs: 575.98px,
);

$container-max-widths: (
    xl: 1140px,
    lg: 960px,
    md: 720px,
    sm: 540px,
);
