@use '../abstracts';

@keyframes showOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.navbar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        will-change: transform;
        animation: showOn linear 0.3s;
    }
    .navbar-item.active {
        border: 1px solid abstracts.$white-color;
        border-radius: 12px;
    }
    .navbar-item {
        &:active {
            border: 1px solid abstracts.$white-color;
            border-radius: 12px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    .navbar-link {
        display: block;
        width: 100%;
        font-family: RalewayExtrabold;
        font-size: 20px;
        color: abstracts.$white-color;
        padding: 12px 16px;
    }
}
@media (max-width: 1199.98px) {
    .navbar {
        .navbar-list.toggle {
            display: flex;
            will-change: transform;
            animation: showOn linear 0.3s;
        }
    }
}
@media (max-width: 991.98px) {
    .navbar {
        .navbar-list {
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            background-color: abstracts.$menu-mobile-color;
            padding: 16px;
            border-radius: 10px;
        }
        .navbar-list.toggle {
            display: none;
        }
        .menu-mobile {
            display: block;
        }
        .navbar-item {
            width: 100%;
            text-align: center;
        }
    }
}
