<footer class="main-footer small-section">
    <div class="main-footer-content container">
        <div class="info">
            <div class="info-column">
                <h1 class="info-column-heading large">healing journeys</h1>
                <figure class="main-footer-logo-frame">
                    <img class="main-footer-logo" src="../assets/images/logo-footer.png" alt="logo">
                </figure>
            </div>
            <div class="info-column">
                <h3 class="info-column-heading small">links</h3>
                <div class="dropdown">
                    <img src="../assets/images/icons/dropdown.svg" alt="dropdown" class="dropdown-icon">
                </div>
                <ul class="info-column-list">
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">discover</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">special deals</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">services</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">community</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">about us</a>
                    </li>
                </ul>
            </div>
            <div class="info-column">
                <h3 class="info-column-heading small">services</h3>
                <div class="dropdown">
                    <img src="../assets/images/icons/dropdown.svg" alt="dropdown" class="dropdown-icon">
                </div>
                <ul class="info-column-list">
                    <li class="info-column-item">
                        <a class="info-column-link" href="/about">about us</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">blog & articles</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">term and condition</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">privacy policy</a>
                    </li>
                    <li class="info-column-item">
                        <a class="info-column-link" href="#">contact us</a>
                    </li>
                </ul>
            </div>
            <div class="info-column">
                <h3 class="info-column-heading small">contact</h3>
                <div class="dropdown">
                    <img src="../assets/images/icons/dropdown.svg" alt="dropdown" class="dropdown-icon">
                </div>
                <ul class="info-column-list">
                    <li class="info-column-item">
                        <span class="info-column-contact">Facebook: Heading Journeys</span>
                    </li>
                    <li class="info-column-item">
                        <span class="info-column-contact">Website: healingjourneys.com.vn</span>
                    </li>
                    <li class="info-column-item">
                        <span class="info-column-contact">Phone: (+84) 768 190 047</span>
                    </li>
                    <li class="info-column-item">
                        <span class="info-column-contact">Email: healingjourneys@gmail.com</span>
                    </li>
                    <li class="info-column-item">
                        <span class="info-column-contact">Maps: 188 Le Duan, Da Nang, Vietnam</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="author">
            <ul class="author-social-list">
                <li class="author-social-item instagram"></li>
                <li class="author-social-item facebook"></li>
                <li class="author-social-item twitter"></li>
                <li class="author-social-item basketball"></li>
                <li class="author-social-item github"></li>
            </ul>
        </div>
    </div>
</footer>