<nav class="navbar">
    <img src="../assets/images/logo.png" alt="logo" class="logo" />
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="/" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
            <a href="/about" class="navbar-link">About us</a>
        </li>
        <li class="navbar-item">
            <a href="javascript:void(0)" class="navbar-link">Blogs</a>
        </li>
        <li class="navbar-item">
            <a href="javascript:void(0)" class="navbar-link">Explore</a>
        </li>
    </ul>
</nav>