.introduction {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    .introduction-info-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .introduction-info-heading {
        font-family: PoppinsBold;
        font-size: 27.65px;
        line-height: 120%;
        color: var(--title-color);
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    .introduction-info-description {
        font-family: PoppinsLight;
        font-size: 16px;
        line-height: 180%;
        color: var(--title-color);
    }
    .introduction-image-frame {
        position: relative;
    }
    .introduction-watermark {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 767.98px) {
    .introduction {
        flex-direction: column;
        .introduction-info-heading {
            text-align: center;
        }
        .introduction-image-frame {
            display: flex;
            margin: auto;
        }
        .introduction-image {
            width: 100%;
            height: auto;
        }
    }
}
