.main-header {
    background: url('../assets/images/about-banner.png') top / cover no-repeat;
    height: 469px;
    .main-header-content {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .main-header-heading {
        font-family: PoppinsBold;
        font-size: 33.18px;
        line-height: 120%;
        color: var(--white-color);
        text-transform: capitalize;
    }
    .menu-mobile {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .main-header {
        .menu-mobile {
            display: block;
        }
    }
}
