.teams {
    .teams-heading {
        margin-bottom: 48px;
        text-align: left;
    }
    .teams-main-heading {
        font-size: 27.65px;
        font-family: PoppinsBold;
        line-height: 120%;
        color: var(--title-color);
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .teams-sub-heading {
        font-size: 16px;
        font-family: PoppinsLight;
        line-height: 180%;
        color: var(--title-color);
    }
    .teams-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
    .teams-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .personal-image {
        margin-bottom: 20px;
    }
    .personal-name {
        font-family: PoppinsMedium;
        font-size: 19.2px;
        line-height: 180%;
        text-transform: capitalize;
        color: #000;
    }
    .personal-position {
        font-family: PoppinsLight;
        font-size: 16px;
        line-height: 180%;
        text-transform: capitalize;
        color: var(--title-color);
    }
}
@media (max-width: 1199.98px) {
    .teams {
        .teams-list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
@media (max-width: 991.98px) {
    .teams {
        .teams-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 767.98px) {
    .teams {
        .teams-list {
            grid-template-columns: repeat(2, 1fr);
        }
        .teams-heading {
            text-align: center;
        }
    }
}
@media (max-width: 575.98px) {
    .teams {
        .teams-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
